<%- include('../partials/headAndNav') %>

<div class="profile">
    <h1 class="profile_title">Profile</h1>

    <h2 class="profile_username">Username: <%= user.username %></h2>
    <h2 class="profile_name">Name: <%= user.fName %> <%= user.lName %></h2>
    <h2 class="profile_email">Email: <%= user.email %></h2>
       
<!-- Need to add Img and DOB -->

 
    <!-- Edit Button -->
    <a href="/users/<%= user._id %>/edit" class="profile_button">Edit Profile</a>

    <!-- Delete Button -->
    <form method="POST" action="/profile/delete?_method=DELETE">
        <input type="hidden" name="userId" id="<%= user._id %>">
        <button type="submit">Delete This Profile</button>
    </form>
<!-- Havn't Fully Finished Button isn't Connected and to user id -->
</div>

<%- include('../partials/footer') %>  