<%- include('../partials/headAndNav' ,{user:user}) %>

<div class="profile">
    <h1 class="profile_title">Profile</h1>

    <img class="profile_img" src="<%= user.img %>" alt="User's profile Image" >
    <h2 class="profile_username">Username: <%= user.username %></h2>
    <h2 class="profile_name">Name: <%= user.fName %> <%= user.lName %></h2>
    <h2 class="profile_email">Email: <%= user.email %></h2>
    
       
<!-- Need to add Img and DOB -->

 
    <!-- Edit Button -->
    
    <!-- Delete Button -->
    <form method="POST" action="/users/<%= user._id %>/delete?_method=DELETE">
        <a href="/users/<%= user._id %>/edit" class="btn btn-danger">Edit Profile</a>
        <button class="btn btn-danger" type="submit">Delete This Profile</button>
    </form>
<!-- Havn't Fully Finished Button isn't Connected and to user id -->
</div>

<%- include('../partials/footer') %>    
