<%- include('../partials/headAndNav') %>

<div>
    <h1>Profile</h1>

    <h2>Name: <%= user.fName %> <%= user.lName %></h2>
    <h2>Username: <%= user.username %></h2>
    <h2>Email: <%= user.email %></h2>
       
<!-- Need to add Img and DOB -->

 
    <!-- Edit Button -->
    <a href="/profile/edit">Edit Profile</a>

    <!-- Delete Button -->
    <form method="POST" action="/profile/delete">
        <input type="hidden" name="userId" id="<%= user._id %>">
        <button type="submit">Delete This Profile</button>
    </form>
<!-- Havn't Fully Finished Button isn't Connected and to user id -->
</div>

<%- include('../partials/footer') %>