<%- include('../partials/headAndNav',{user:user}) %>

  <div class="post-card">
      <img src="<%= posts.img %>" alt="...">
      <h5><%= posts.username %></h5>
      <p>Company: <%= posts.compName %></p>
      <p>Industry: <%= posts.industry %></p>
      <p>Direction: <%= posts.upDown %></p>
      <p>Prediction: <%= posts.prediction %></p>
        <% for (let i = 0; i < posts.comments.length; i++) { %>
          <hr/>
          <p>User: <%=posts.comments[i].username %></p>
          <p>Comment: <%=posts.comments[i].comment %></p>
      <%  } %>
      <div>
        <form class="card" method="POST" action="/posts/<%= posts._id %>/comment?_method=PUT">
            <div>
                <label  for="username"> <%= user.username %> </label>
                <input hidden value=" <%= user.username %>" type="text" name="username" id="username">
            </div>
            <div>
                <textarea name="comment" id="comment" rows="4" cols="20"></textarea>
            </div>
            <input type="submit" value="Submit new post">
        </form>
      </div>
    </div>

  
  
  

<%- include('../partials/footer') %>