<%- include('../partials/headAndNav') %>
<div>
    <Form class="form" method="POST" action="/posts<%= edit._id/edit%>?_method=PUT">
        <div>
            <label for="username">Enter username</label>
            <input type="text" name="username" value=<%= edit.username%> id="username">
        </div>
        <div>
            <label for="compName">Enter compName</label>
            <input type="text" name="compName" value= <%= edit.compName%> id="compName">
        </div>
        <div>
            <label for="industry">What industry?</label>
            <select name="industry" id="industry" value= <%= edit.industry%>>
                <option value="Technology">Technology</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Finance">Finance</option>
                <option value="Retail">Retail</option>
                <option value="Energy">Energy</option>
            </select>
        </div>
        <div>
            <label for="upDown">bullish or bearish</label>
            <input type="text" name="upDown" value= <%= edit.upDown%> id="upDown">
        </div>
        <div>
            <label for="prediction">Price prediction</label>
            <input type="text" name="prediction" value= <%= edit.prediction%> id="prediction">
        </div>
        <input type="submit" value="Submit new post">
    </Form>

</div>
<%- include('../partials/footer') %>