<%- include('../partials/headAndNav') %>
<div class="post-container">
    <div class="post-card">
      <img src="<%= posts.img %>" alt="...">
      <div class="post-content">
        <h5><%= posts.username %></h5>
        <p>Industry: <%= posts.industry %></p>
        <a href="/posts/<%= posts._id %>/edit" class="btn btn-primary">Edit</a>
        <form method="POST" action="/posts/<%= posts._id %>?_method=DELETE">
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
  
  
  

<%- include('../partials/footer') %>