<%- include('../partials/headAndNav',{user:user}) %>

<% if(user.username === posts.username) { %>
  <div class="post-card">
      <img src="<%= posts.img %>" alt="...">
      <h5><%= posts.username %></h5>
      <p>Company: <%= posts.compName %></p>
      <p>Industry: <%= posts.industry %></p>
      <p>Direction: <%= posts.upDown %></p>
      <p>Prediction: <%= posts.prediction %></p>
      <div>
        <% for (let i = 0; i < posts.comments.length; i++) { %>
          <p>User: <%=posts.comments[i].username %></p>
          <p>Comment: <%=posts.comments[i].comment %></p>
      <%  } %>
      </div>
      <div class="btn-group">
          <form method="POST" action="/posts/<%= posts._id %>?_method=DELETE">
            <a href="/posts/<%= posts._id %>/edit" class="btn btn-primary">Edit</a>
            <a href="/posts/<%= posts._id %>/comment" class="btn btn-primary">Add Comment</a>
          <button class="btn btn-danger" type="submit">Delete</button>
        </form>
      </div>
    </div>
    <% } else { %>
  <div class="post-card">
      <img src="<%= posts.img %>" alt="...">
      <h5><%= posts.username %></h5>
      <p>Company: <%= posts.compName %></p>
      <p>Industry: <%= posts.industry %></p>
      <p>Direction: <%= posts.upDown %></p>
      <p>Prediction: <%= posts.prediction %></p>
       <div>
        <% for (let i = 0; i < posts.comments.length; i++) { %>
          <p>User: <%=posts.comments[i].username %></p>
          <p>Comment: <%=posts.comments[i].comment %></p>
          <p>another p</p>
          <hr />
      <%  } %>
      </div>
      <a href="/posts/<%= posts._id %>/comment" class="btn btn-primary">Add Comment</a>

    </div>
  <% } %>
  
  
  

<%- include('../partials/footer') %>